@import url("https://fonts.googleapis.com/css2?family=Caramel&display=swap");

body {
  display: block;
}

h1 {
  color: rgb(54, 73, 54);

  font-size: 30px;
  margin-bottom: 0;
  line-height: 28px;
  font-weight: 100;
}

ul {
  margin: 0;
  padding: 0;
}
#windSpeed {
  text-transform: lowercase;
}
li {
  list-style: none;

  color: white;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-transform: capitalize;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 1200px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid rgb(204, 231, 204);
  border-radius: 5px;
  color: white;
  background: rgb(246, 210, 216);
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/069/592/original/fac337af617970b5491a1946be81956e.jpg?1677714087");
  overflow: auto;
  display: block;
  font-family: "poppins";
}
form {
  position: relative;
  left: 5%;
  margin-top: 2%;
  border-radius: 4px;
  font-family: "poppins";
}
#search-button {
  background-color: #7d8d84;
  border: white;
}
#current-location {
  background-color: #7d8d84;
  border: white;
  position: absolute;
  left: 81%;
  top: 11%;
}
.overview {
  margin-bottom: 30px;
}
#temp-section {
  position: relative;
  left: 40%;
}
#celsius-link {
  color: black;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(54, 73, 54);
  font-size: 90px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active {
  color: rgb(91, 110, 93);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  background: rgba(109, 126, 113, 0.4);
  padding: 25px;

  width: 100%;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;

  margin-top: 20px;
  text-align: center;
  color: white;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.minimum-temp {
  opacity: 0.5;
}
.weather-forecast-temp {
  font-size: 13px;
}
.weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
.current-items {
  color: #ffffff;
  background: rgba(109, 126, 113, 0.4);
  position: relative;
  left: 100%;
  bottom: 40%;
  text-align: center;
  padding: 25px 20px 20px;
  font-size: 28px;
  font-weight: 100;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
